/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/*=============== ESTILOS GENERALES ===============*/
body {
    font-family: var(--body-font);
    font-size: var(--body-font-size-desk);
    font-weight: var(--font-normal);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#root {
    padding: 0;
    width: 100%;
    max-width: none;
}